h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #061826;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: #002927;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: #00524E;
}

body {
    color: #A7DCBD;
}