@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Lato&family=Source+Sans+Pro&display=swap");
h1 {
  background-color: #65A7CA;
  color: #FFF3D6;
}

h2 {
  background-color: #3E6336;
  color: #FFF3D6;
}

p {
  background-color: #3E6336;
  color: #FFF3D6;
}

.homeButtons {
  background-color: #3E6336;
  color: #E7D7C1;
}

footer {
  background-color: #65A7CA;
  color: #E7D7C1;
}

nav ul li {
  border: 1px solid #E7D7C1;
  display: none;
  background-color: #4C3220;
}

nav ul li a {
  color: #E7D7C1;
}

a:hover {
  color: #FFC53A;
}

.weatherheading {
  background-color: #313E50;
  color: #E7D7C1;
}

.weathersection {
  background-color: #313E50;
  box-shadow: inset 0 0 5px #65A7CA;
}

.weatherlabel {
  color: #FFF3D6;
}

.weatherdata {
  color: #65A7CA;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

h1, h2 {
  font-family: "Cabin", sans-serif;
}

.homeButtons {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
}

footer {
  font-family: "Lato", sans-serif;
}

.weatherheading {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.weatherlabel {
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
}

.weatherdata {
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-image: url("/assets/HBG1.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1, h2 {
  text-align: center;
  padding: 15px;
}

.mainsection {
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li:first-child {
  display: block;
}

nav ul li a {
  display: block;
  padding: 10px;
}

.open li {
  display: block;
}

.homeButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50%;
  padding: 15px;
  margin: 15px;
}

footer {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;
  width: 90%;
}

.weathersection {
  padding: 5px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.weathersection span:nth-child(even) {
  padding-left: 5px;
}

.weatherlabel {
  padding: 5px;
  text-align: right;
}

.weatherdata {
  padding: 5px;
  text-align: left;
}

.weatherheading {
  grid-column-end: 2 span;
  margin: 5px;
}

/*

.herosection = mainsection
.weathersummary = weathersection
.weathersummary1 = weatherlabel
.weathersummary2 = weatherdata
.weathersummaryheading = weatherheading
.herosection {
    position: relative;

    .weathersummary {
    background-color: hsl(350, 74%, 26%, .75);
    padding: 5px;
    max-width: 60%;
    top: 25px;
    left: 25px;
    position: absolute;
    box-shadow: inset 0 0 5px #e59500;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.weathersummary span:nth-child(even){
    padding-left: 5px;
}
.weathersummary1 {
    color: #fafaff;
    font-size: 15px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
.weathersummary2 {
    color: #e59500;
    font-size: 15px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.weathersummaryheading {
    color: #fafaff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    grid-column-end: 2 span;
}
*/

/*# sourceMappingURL=hbgstyles.css.map */
