@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Lato&family=Rammetto+One&family=Source+Sans+Pro&family=Trade+Winds&display=swap");
body {
  background-color: #65A7CA;
}

h1 {
  background-color: #65A7CA;
  color: #FFF3D6;
}

h2 {
  background-color: #3E6336;
  color: #FFF3D6;
}

p {
  background-color: #3E6336;
  color: #FFF3D6;
}

.homeButtons {
  background-color: #3E6336;
  color: #E7D7C1;
}

footer {
  background-color: #3E6336;
  color: #E7D7C1;
}

nav ul li {
  border: 1px solid #E7D7C1;
  display: none;
  background-color: #4C3220;
}

nav ul li a {
  color: #E7D7C1;
}

a:hover {
  color: #FFC53A;
}

.weatherheading {
  background-color: #313E50;
  color: #E7D7C1;
}

.weathersection {
  background-color: #313E50;
  box-shadow: inset 0 0 5px #65A7CA;
}

.weatherlabel {
  color: #FFF3D6;
}

.weatherdata {
  color: #65A7CA;
}

.AhikeDisplay h3 {
  color: #FFF3D6;
  background-color: #E06D06;
}

.AhikeDisplay h4 {
  color: #313E50;
  background-color: #FFC53A;
}

.AhikeDisplay p {
  color: #4C3220;
  background-color: #FFF3D6;
}

#favorite:after {
  color: #A31621;
}

#showDetails:after {
  color: #313E50;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

h1 {
  font-family: "Trade Winds", cursive;
  font-size: 50px;
}

h2 {
  font-family: "Trade Winds", cursive;
}

.homeButtons {
  font-family: "Trade Winds", cursive;
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
}

footer {
  font-family: "Lato", sans-serif;
}

.weatherheading {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.weatherlabel {
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
}

.weatherdata {
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
}

.AhikeDisplay h3 {
  font-family: "Trade Winds", cursive;
}

.AhikeDisplay h4 {
  font-family: "Source Sans Pro", sans-serif;
}

.AhikeDisplay p {
  font-family: "Source Sans Pro", sans-serif;
}

.favorite:after {
  content: " Z606";
  color: yellow;
}

.favorite:hover:after {
  content: " Z606";
  color: yellow;
}

body {
  background-image: url("/assets/HBG1.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1, h2 {
  text-align: center;
  padding: 15px;
}

.mainsection {
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li:first-child {
  display: block;
}

nav ul li a {
  display: block;
  padding: 10px;
}

.open li {
  display: block;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.homeButtons {
  display: grid;
  padding: 15px;
  margin: 15px;
  display: grid;
  width: 100px;
  height: 100px;
  text-align: center;
  justify-content: center;
}

footer {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  display: block;
  bottom: 0;
  width: 90%;
}

.weathersection {
  padding: 5px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.weathersection span:nth-child(even) {
  padding-left: 5px;
}

.weatherlabel {
  padding: 5px;
  text-align: right;
}

.weatherdata {
  padding: 5px;
  text-align: left;
}

.weatherheading {
  grid-column-end: 2 span;
  margin: 5px;
}

.AhikeDisplay h3 {
  padding: 15px;
  margin-bottom: 0;
}

.AhikeDisplay h4 {
  padding: 5px;
  margin: 0;
}

.AhikeDisplay p {
  padding: 10px;
  margin: 0;
}

.hidden {
  display: none;
}

#favorite:after {
  content: "      ♡";
}

#showDetails:after {
  content: "      →";
}

/*

.herosection = mainsection
.weathersummary = weathersection
.weathersummary1 = weatherlabel
.weathersummary2 = weatherdata
.weathersummaryheading = weatherheading
.herosection {
    position: relative;

    .weathersummary {
    background-color: hsl(350, 74%, 26%, .75);
    padding: 5px;
    max-width: 60%;
    top: 25px;
    left: 25px;
    position: absolute;
    box-shadow: inset 0 0 5px #e59500;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.weathersummary span:nth-child(even){
    padding-left: 5px;
}
.weathersummary1 {
    color: #fafaff;
    font-size: 15px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
.weathersummary2 {
    color: #e59500;
    font-size: 15px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.weathersummaryheading {
    color: #fafaff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    grid-column-end: 2 span;
}
*/

/*# sourceMappingURL=hbgstyles.css.map */
