$font1: 'Cabin', sans-serif; //Cabin
$font2: 'Source Sans Pro', sans-serif; //Source Sans Pro
$font3: 'Lato', sans-serif; //Lato
//$font4:; //Impact

h1 {
    font-family: $font1;
}

footer {
    font-family: $font3;
}

//Weather

.weatherheading {
    font-size: 20px;
    font-family: $font2;
    text-align: center;
}

.weatherlabel {
    font-size: 17px;
    font-family: $font2;
}

.weatherdata {
    font-size: 17px;
    font-family: $font2;
}